/*========== Font Awsome=============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*=========== common style=============*/
body{
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
hr{
    margin-top: 80px;
    border: 1px solid gray;
}
.container{
    width: 90%;
    margin: 0 auto;
}
/*========Header Section Start============*/
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #2D25A0;
}
.navbar_items li{
    display: inline-block;
    padding: 0 15px;
}
.navbar_items a{
    font-size: 16px;
    color: white;
}
.btn {
    border: none;
   padding: 10px 24px 10px 24px;
   font-size: 16px;
   font-weight: 700;
   background-color: #E02C6D;
   border-radius: 2px;
   margin-right: 30px;
}
/*================Header Section End============*/
/*================= Hero-section Start =============*/
.hero_section{
    background-color: #2D25A0;
    ;
   padding: 30px 50px;
}
.hero_section{
    display: flex;
}
.hero_head h1{
    font-family: 'Poppins', sans-serif; 
    font-size: 64px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 36px;
    color: white;
    margin-right: 135px;
}
.btn a{
    color: white;
}
.btn i{
    margin-right: 10px;
    color: white;
}
.btn_two {
    border: none;
   padding: 10px 24px 10px 24px;
   font-size: 16px;
   font-weight: 700;
   background-color: #E02C6D;
   border-radius: 2px;  
   color: white;
}
.btn_two i{
    margin-left: 10px;
    color: white;
}
.hero-img img{
    width: 556px;
    height: 438px;
    margin-top: 31px;
}
.btn_two:hover{
transition: ease-in 1s; 
background-color: #3dbafd;
}
/*================= Hero-section End =============*/
/*===============Palyer Information Section Start==========*/
.players-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin-top: 80px;
    border-radius: 5px;
    
}
.player{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:15px ;
    margin-bottom: 25px;
}
.player img{
    width:300px;
    height: 256px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.player h1{
    font-size: 28px;
}
.player p{
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}
/*===============Palyer Information Section End==========*/
/* =================Contact  section Start----============= */
.subscrib{
    margin-top: 80px;
    width: 100%;
    height: 300px;
    background-image: url(../images/extra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
}
.subscrib h1{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.email{
    text-align: center;
    font-size: 25px;
}
input{
    font-size: 25px;
    text-align: left;
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
}
.submit{
    background-color: #E02C6D;
    border: none;
    color: white;
    border-radius: 5px;
}
/* =================Contact  section End ============= */
/*==================Match Preview Section Start===========*/
.match_preview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}
.preview_head{
    margin-right: 15px;
    margin-bottom: 150px;
}
.preview_head h1{
    font-family: 'Poppins', sans-serif; 
    font-size: 48px;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 36px;
}
.preview_head p{
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}
.preview-img img{
    width: 560px;
    height: 420px;
    padding-left: 20px;
}
/*==================Match Preview Section End===========*/
/*==================Mission Details Section Start=============*/
.mission{
    height: 180px;
    margin-bottom: 400px;
}
.mission{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.mission h2{
    font-size: 40px;
}
.mission img{
    width: 480px;
}
.btn_three {
    padding: 10px 24px 10px 24px;
    font-size: 16px;
    font-weight: 700;
    background-color: #ffff;
    border-radius: 2px;  
    color: #2D25A0; 
    border: 2px solid gainsboro;
}
.btn_three:hover{
    background-color: #E02C6D;
    color: white;
    border: 2px solid #E02C6D;
    transition: ease-in-out 2s;
}
/*==================Mission Details Section End=============*/
/*===================Footer Section Start=====================*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

}
.fab{
    font-size: 20px;
    padding: 15px;
    border-radius: 32px;
    /* color:#969BAB, 100% ; */
    font-weight: 500;
    background-color: #969BAB;
    opacity:0.5;
    margin: 3px;
}
.footer_logo img{
    width: 494px;
    height: 110px;
    margin-left: -136px;
    margin-top: 170px;
}
.fab:hover{
    background-color: white;
    color: #E02C6D;
    transition: ease 2s;
}
/*===================Footer Section End=====================*/




/*-============================================================
        Quary  For Smaller Smartphone-
 Responsive Devise ( pixel-2)/ 411-731 /100%
=============================================================*/

@media only screen and (max-width:480px) {
    .navbar{
        display: none;
    }
    .hero_head h1{
        font-size: 45px;
    }
    .hero_section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }  
    .hero-img img{
        width: 250px;
        height: 200px;
    }
    .players-cards{
        flex-direction:column;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .match_preview{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .preview_head h1{
        padding: 20px;
    }
    .preview_head p{
        padding: 20px;
    }
    .btn_two{
       margin-left: 30px;
    }
    .preview-img img{
       width: 350px;
       height: 300px; 
       padding-left: 0; 
    }
    .mission{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 800px;
    }
    .mission img{
        width: 320px;  
    }
    .subscrib{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        display: block;
    }
    .subscrib h1{
        font-size: 30px;
    }
    .submit{
        font-size: 20px;
        padding: 10px 20px;
    }
    input{
        font-size: 25px;
        text-align: left;
        padding: 10px;
        border-radius: 5px;
        border: none;  
    }
    .footer_logo img{
        width: 300px;
        height: 50px;
        margin-top: 10px;
    }
}
/*----Quary  For tablets , learger Smartphone
Responsive :
     Device : iPad = 768 x 1024 
    Size: 100%

*/
@media only screen and (max-width:768px) and (min-width:481px){
    .navbar{
        display: none;
    }
    .hero_head h1{
        font-size: 55px;
    }
    .hero_section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }  
    .hero-img img{
        width: 412px;
        height: 350px;
        margin-left: 233px;
    }
    .players-cards{
        flex-direction:column;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
    }
    .match_preview{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .preview_head h1{
        padding: 20px;
    }
    .preview_head p{
        padding: 20px;
    }
    .btn_two{
       margin-left: 30px;
    }
    .preview-img img{
        width: 691px;
        height: 540px;
        padding-left: 0;
    }
    .mission{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 800px;
    }
    .mission img{
        width: 400px;
        margin-left: 130px;
        margin-top: 80px;
    } 
    .mission h2{
        text-align: center;
    }
    .subscrib{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        display: block;
    }
    .subscrib h1{
        font-size: 30px;
    }
    .submit{
        font-size: 25px;
        padding: 10px 20px;
    }

}
/*Laptop Devices*/
